/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
	border: 5px solid #0243fd;
	position: fixed;
	right: 0;
	bottom: 0;
}
#two {
	border: 5px solid #008012;
	position: fixed;
	top: 20px;
	right: 0;
}
#three {
	border: 5px solid #ffa500;
	position: fixed;
	top: 20px;
}
#four {
	border: 5px solid #ffd712;
	position: fixed;
	bottom: 0;
}
#one, #two, #three, #four {
	margin: 5px;
	padding: 5px;
	width: 25%;
}

a {
	text-decoration: none;
	color: white;
	background-color: #0b4b33;
}
#link {
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: fit-content;
}
