{% extends "base_bootstrap.html" %}
{% block content %}

{% if breed %}
    {% if cat %}
        <h1>Update Cat</h1>
    {% else %}
        <h1>Create Cat</h1>
    {% endif %}
        <form method="post">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <button type="submit">Save</button>
        <a href="{% url 'cat_list' %}" class="btn btn-secondary">Cancel</a>
        </form>

{% else %}
    <h1>You need to add a breed before creating a cat bro.</h1>
    <a href="{% url 'breed_create' %}">Add a new breed</a>
{% endif %}


{% endblock %}